PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=GSLTLqI2F8C31DBaovoO8yi1v5F23Re0
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
GITHUB_CLIENT_ID=67b5ca182fcb563843dd
GITHUB_CLIENT_SECRET=20939b9bc553e12700fd8cc3a7a5a3172c1123a6
GITHUB_CALLBACK_URL=https://localhost:3333/api/auth/github/callback
GOOGLE_CLIENT_ID=721986062626-nigr3pg1ekh1oqqrmdvka9v3bkrq6trt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3333/api/user/google/callback